{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row header-container">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row pb-4">
        <div class="col-sm-12 col-lg-4  pt-5 pr-5 pl-5 text-white">
            <h3 class="pb-4"><b>Get in touch</b></h3>
            <p class="pb-2"><b>Email:</b> zak.davies8@gmail.com</p>
            <p class="pb-2"><b>Phone:</b> 07443636876</p>
        </div>
        <div class="col-sm-12 col-lg-8 pt-5 pr-5 pl-5 contact-form text-white">
            <h3 class="pb-4"><b>Contact Me</b></h3>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy  }}
                <div class="form-actions">
                    <button type="submit" class="button-property custom-button-no-bounce" id="button-submit">Send</button>
                </div>
            </form>
        </div>
    </div>
    
</div>

{% endblock %}