{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'portfolio/css/portfolio.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row header-container">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container blue-content-block">
    {% for portfolio in portfolios %}

        <div class="row justify-content-center">
            <h2 class="portfolio-text p-4">{{ portfolio.title }} - Portfolio</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-10 col-lg-8">
                <p class="portfolio-text large-text" id="passion-text">{{ portfolio.passion_text }}</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-8">
                <div class="col-12">
                    <p class="portfolio-text large-text p-3" id="experience-text">{{ portfolio.experience_text }}</p>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="col-12">
                    <img class="w-100 pt-3 pr-2 pl-2" src = "{{MEDIA_URL}}{{ portfolio.image }}" alt="Zak image">
                </div>
            </div>
        </div>

        <div class="row pt-5 text-center">
            <div class="col-sm-12 col-lg-4">
                <i class="fas fa-video w-100 textbox-image"></i>
                <p class="portfolio-text large-text p-3" id="textbox1-text">{{ portfolio.textbox_1 }}</p>
            </div>
            <div class="col-sm-12 col-lg-4">
                <i class="fas fa-camera-retro w-100 textbox-image"></i>
                <p class="portfolio-text large-text p-3" id="textbox2-text">{{ portfolio.textbox_2 }}</p>
            </div>
            <div class="col-sm-12 col-lg-4">
                <i class="fas fa-theater-masks w-100 textbox-image"></i>
                <p class="portfolio-text large-text p-3" id="textbox3-text">{{ portfolio.textbox_3 }}</p>
            </div>
        </div>   

    {% endfor %}


    <div class="row pt-4">
        {% for subject in subjects %}
            <div class="col-sm-12 col-lg-6 col-xl-4 pb-4">
                <div class="col-2">
                    <img class="w-100" id="progress-image" src = "{{MEDIA_URL}}{{ subject.subject_image }}" alt="Subject image">
                </div>
                <div class="col-10">
                    <p class="portfolio-text large-text subject-text">{{ subject.name }}</p>
                </div>
                <div class="col-10">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ subject.experience }}%;" aria-valuenow="{{ subject.experience }}" aria-valuemin="0" aria-valuemax="100">{{ subject.experience }}%</div>
                    </div>
                </div>
            </div> 
        {% endfor %}
    </div>
</div>

{% endblock %}