{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row header-container">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid pr-0 pl-0">
    <!--Background Image-->
    <div>
        <img src="{% static 'img/wallpaper-1.jpg' %}" alt="background-image" class="background-image img-fluid">
    </div>
    <!--Home Page Buttons-->
    <div class="row justify-content-center text-white w-100 text-row">
        <div class="col-12 text-center my-auto">
            <h1 class="title">Zak Davies</h1>
            <h2 class="profession">Photographer</h2>
        </div>
    </div>  
         
    <div class="row justify-content-center text-center w-100 button-row">
        <div class="col-12 fixed-button-container">
            <a href="{% url 'landing_page' %}">
                <button type="button" class="btn custom-button text-white">Gallery</button>
            </a>
            <a href="{% url 'portfolio' %}">
                <button type="button" class="btn custom-button text-white" id="right-index-button">Portfolio</button>
            </a>
        </div> 
    </div>
</div>    

{% endblock %}

