.background-image-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.background-image{
    position: fixed;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: -1;
    opacity: 0.9;
}

.title {
    font-size: 100px;
    font-weight: 600;
}

.text-row {
    height: 50vh;
}

.button-row,
.text-row {
    margin-right: 0;
    margin-left: 0;
}

.fixed-text-container > h1 {
    color: #fff;
    font-size: 85px;
    font-weight: 900;;
}

.fixed-text-container > h2 {
    color: #fff;
}


/* Small devices (large portrait phones) */
@media screen and (min-width: 410px) {
    #right-index-button {
        margin-left: 1rem  
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .home-row {
        position: absolute;
        width: 100%;
        top: 10em;
    }
    .index-buttons {
        text-align: left;
    }
    .fixed-text-container {
        text-align: left;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .home-row {
        position: absolute;
        width: 100%;
        top: 15%;
        }
}

/* 4k Displays */
@media screen and (min-width: 3840px) {
    .title {
        font-size: 150px;
        font-weight: 600;
    }
    .profession {
        font-size: 60px;
    }
}