.header-container {
    height: 80px!important;
}

.blog-text {
    color: #fff;
}

.blog-link:hover {
    text-decoration: none;
}

.blog-content-row {
    color: #fff;
}

.single-post {
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease;
    background-color: #fff0;
}
.single-post:hover {
    background-color: #061f3e63;
    opacity: 1;
}


/* Mobile Devices */
@media (min-width: 320px) and (max-width: 480px) {
  
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    
}

/* Small Screens & Laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    
}

/* Desktops, Large Screens */
@media (min-width: 1025px) and (max-width: 1200px) {
  
}

/* Extra Large Screens, TV */

@media (min-width: 1200px) {
  
}