body {
    background-color: #020b16;
    color: #555;
    font-family: 'Raleway', sans-serif;
}


.text-black{
    color:#555!important;
}

.text-black:hover{
    color: #555!important;
    text-decoration: none!important;
}

.no-decoration{
    text-decoration: none!important;
}


.no-decoration:hover{
    text-decoration: none!important;
}

.header-container {
    height: 95px;
    display: flex;
}

.custom-button{
    font-size: 25px;
    padding: 7px 29px;
    background-color: #fa4959;
    color: #fff;
    border-radius: 35px;
    min-width: 155px;
    transition: transform .3s ease-out;
    margin-top: 30px;
}

.custom-button-no-bounce{
    font-size: 25px;
    padding: 7px 29px;
    background-color: #fa4959;
    color: #fff;
    border-radius: 35px;
    min-width: 105px;
}

.custom-button-no-bounce{
    font-size: 25px;
    padding: 7px 29px;
    background-color: #fa4959;
    color: #fff;
    border-radius: 35px;
    border:#000;
    min-width: 105px;
    transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -webkit-transition: opacity .35s ease-in-out;
}

.custom-button-no-bounce:hover {
    opacity: 0.7;
}

.custom-button:hover{
    -ms-transform: translateY(-10px); /* IE 9 */
    -webkit-transform: translateY(-10px); /* Safari 3-8 */
    transform: translateY(-10px);
}

.custom-button:focus{
    box-shadow: none;
}

.custom-button a:hover{
    text-decoration: none;
}


/* Navbar */

.site-title{
    padding: 20px 5px;
    z-index: 1;
    float: left;
}

.site-title a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    z-index: 2;
}

.site-title a:hover{
    text-decoration: none;
    color: #fff;  
}


.overlay {
    height: 0%;
    width: 100vw;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    background: linear-gradient(180deg, rgb(0 0 0) 0%, #020b16b5 100%);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    right: 1%;
    color: #fff;
}

.closebtn {
    float: right!important;
    font-size: 95px!important;
    top: -50px!important;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/* END Navbar */

#backarrow {
    color: #fff;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 20px;
    padding: 15px;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease;
    background-color: #06182c;
    border-radius: 5px;
}

#backarrow:hover {
    cursor: pointer;
    background-color: #27374c;
}

#backtext {
    padding-left: 15px;
    font-family: 'Raleway', sans-serif;
}

/* Messages */

.message-container {
    position: fixed;
    top: 72px;
    right: 45px;
    z-index: 999;
}

.custom-toast {
    overflow: visible;
}


.toast-header {
    font-size: x-large;
}

.toast-body {
    font-size: large;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*END messages */


/* Social Icons & hamburger */

#hamburger{
    color: #fff;
    font-size: 35px;
    cursor: pointer;
}

.social-icons
{
    padding-left:0;
    margin-bottom:0;
    list-style:none;
    float: right;
    padding: 15px;
    white-space: nowrap;
}
.social-icons li
{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title
{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:100;
    font-size:13px
}

.social-icons a{
    color:#fff;
    font-size: 30px;
    display: inline-block;
    line-height: 55px;
    width: 52px;
    height: 52px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
    color:#fff;
    background-color:#29aafe
}
.social-icons.size-sm a
{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover
{
    background-color:#3b5998
}
.social-icons a.twitter:hover
{
    background-color:#00aced
}
.social-icons a.linkedin:hover
{
    background-color:#007bb6
}

@media (max-width:767px)
{
  .social-icons li.title
  {
        display:block;
        margin-right:0;
        font-weight:100
  }
}

.pagination-row {
    height: 90px;
    margin-bottom: 25px;
}

.pagination {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.pagination a {
    color: #fff;
}

.pagination a:hover {
    color: #fff;
    text-decoration: underline;
}

.pagination-icon {
    font-size: 20px;
}


/* Small devices (large portrait phones) */
@media screen and (min-width: 410px) {
    #hamburger {
        margin-left: 30px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
   
}

/* 4k Displays */
@media screen and (min-width: 3840px) {
    
}