/*
 * Bootstrap Cookie Alert by Wruczek
 * https://github.com/Wruczek/Bootstrap-Cookie-Alert
 * Released under MIT license
 */
.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #ecf0f1;
    background-color: #061f3d63;
}

.cookiealert.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 1000ms;
    background-color: #020b16;
    color: fff;
}

.cookiealert a {
    text-decoration: underline;
    color: #fff;
}

.cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
}

.btn-custom-cookie {
    background-color: #fa4959;
    border-color: #fa4959;
    color: #fff;
    font-weight: 400;
}

.btn-custom-cookie:hover {
    background-color: #fa4959;
    border-color: #fa4959;
    color: #fff;
}