{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row header-container">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            {% for post in page_obj %}
                <a class="blog-link" href="{% url 'view_single_post' post.id %}">
                    <div class="row single-post">
                        <div class="col pt-5 pb-4">
                            <div class="blog-post">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-lg-4">
                                        <div class="p-1 text-center">
                            
                                            {% if post.thumbnail %}
                                                <img class="blog_list_image w-100" src = "{{ post.thumbnail.url }}" alt="{{ post.title }} image">
                                            {% else %}
                                                <img class="blog_list_image w-100" src = "{{ MEDIA_URL }}noimage.png" alt="{{ post.title }} image">
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-7 pt-2 blog-text">
                                        <h1><b>{{ post.title }}</b></h1>
                                        <p class="blog-post-meta">{{ post.date|naturalday }} by {{ post.author }} </p>
                                        <p>{{ post.body1|slice:":200"  }}...</p>
                                    </div> 
                                </div>
                            </div>                    
                        </div>            
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center pagination-row">
        <div class="pagination my-auto">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1"><i class="fas fa-angle-double-left pagination-icon mr-1"></i></a>
                    <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left pagination-icon mr-2"></i></a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right pagination-icon ml-2"></i></a>
                    <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-angle-double-right pagination-icon ml-1"></i></a>
                {% endif %}
            </span>
        </div>
    </div>
</div>

{% endblock %}
