{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row header-container">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container white-content-block">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <h1>Product Management - Edit</h1>     
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'edit_post' post.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="text-right">
                    <a class="custom-button" href="{% url 'all_posts' %}">Cancel</a>
                    <button class="custom-button" type="submit">Update Post</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}