{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row header-container">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    <i class="fas fa-chevron-left float-left" id="backarrow"><span id="backtext">BACK</span></i>
</div>

<div class="container">
    <div class="row">
        <div class="col">  
                <div class="row blog-content-row">
                    <div class="col">
                        <div class="blog-post">
                            
                            <h1 class="pb-4"><b>{{ post.title }}</b></h1>
                            <p class="blog-post-meta">{{ post.date|naturalday }} by {{ post.author }} </p>
                            
                            <!--Section 1-->
                            {% if post.blog_image_1 %}
                                <div class="text-center p-1 pb-4"><img class="w-75" src = "{{ post.blog_image_1.url }}" alt="{{ post.title }} image"></div>
                            {% endif %}

                            {% if post.sub_header_1 %}
                                <h4><b>{{ post.sub_header_1 }}</b></h4>
                            {% endif %}
                            
                            {% if post.body_text_1|linebreaks %}
                                <p>{{ post.body_text_1|linebreaks }}</p>
                            {% endif %}

                            <!--Section 2-->
                            {% if post.blog_image_2 %}
                                <div class="text-center p-1 pb-4"><img class="w-75" src = "{{ post.blog_image_2.url }}" alt="{{ post.title }} image"></div>
                            {% endif %}

                            {% if post.sub_header_2 %}
                                <h4><b>{{ post.sub_header_2 }}</b></h4>
                            {% endif %}
                            
                            {% if post.body_text_2|linebreaks %}
                                <p>{{ post.body_text_2|linebreaks }}</p>
                            {% endif %}

                            <!--Section 3-->
                            {% if post.blog_image_3 %}
                                <div class="text-center p-1 pb-4"><img class="w-75" src = "{{ post.blog_image_3.url }}" alt="{{ post.title }} image"></div>
                            {% endif %}

                            {% if post.sub_header_3 %}
                                <h4><b>{{ post.sub_header_3 }}</b></h4>
                            {% endif %}
                            
                            {% if post.body_text_3|linebreaks %}
                                <p>{{ post.body_text_3|linebreaks }}</p>
                            {% endif %}

                            <!--Section 4-->
                            {% if post.blog_image_4 %}
                                <div class="text-center p-1 pb-4"><img class="w-75" src = "{{ post.blog_image_4.url }}" alt="{{ post.title }} image"></div>
                            {% endif %}

                            {% if post.sub_header_4 %}
                                <h4><b>{{ post.sub_header_4 }}</b></h4>
                            {% endif %}
                            
                            {% if post.body_text_4|linebreaks %}
                                <p>{{ post.body_text_4|linebreaks }}</p>
                            {% endif %}

                            <!--Section 5-->
                            {% if post.blog_image_5 %}
                                <div class="text-center p-1 pb-4"><img class="w-75" src = "{{ post.blog_image_5.url }}" alt="{{ post.title }} image"></div>
                            {% endif %}

                            {% if post.sub_header_5 %}
                                <h4><b>{{ post.sub_header_5 }}</b></h4>
                            {% endif %}
                            
                            {% if post.body_text_5|linebreaks %}
                                <p>{{ post.body_text_5|linebreaks }}</p>
                            {% endif %}

                            <!--Section 6-->
                            {% if post.blog_image_6 %}
                                <div class="text-center p-1 pb-4"><img class="w-75" src = "{{ post.blog_image_6.url }}" alt="{{ post.title }} image"></div>
                            {% endif %}

                            {% if post.sub_header_6 %}
                                <h4><b>{{ post.sub_header_6 }}</b></h4>
                            {% endif %}
                            
                            {% if post.body_text_6|linebreaks %}
                                <p>{{ post.body_text_6|linebreaks }}</p>
                            {% endif %}

                        </div>                    
                    </div>            
                </div>
        </div>
    </div>
</div>

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'blog/js/blog.js'%}"></script> 
{% endblock%}

{% endblock %}