#progress-image {
    float: left;
    margin-right: 15px;
    margin-top: 15px;
}

.blue-content-block {
    background-color: #06182c38;
    padding: 10px;
    margin: 50px auto 50px auto;
    border-radius: 5px;
}

.portfolio-text {
    color: #d3d3d3;
}

.large-text {
    font-size: large;
}

.subject-text {
    margin: 7px;
}

.progress-bar {
    background-color: #fa4959;
}

.textbox-image {
    color: #fff;
    font-size: 90px;
}

/* Small devices (large portrait phones) */
@media screen and (min-width: 410px) {
   
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
   
}

/* 4k Displays */
@media screen and (min-width: 3840px) {
    
}