{% load static %}

<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock%}

    <!-- Bootstrap CSS -->
    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/cookiealert.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;1,100&display=swap" rel="stylesheet">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <!-- jQuery, Popper.js, and Bootstrap JS -->
    {% block corejs %}
        <script src="https://kit.fontawesome.com/af915a2cd1.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
        <script src="{% static 'js/base.js'%}"></script>
    {% endblock %}

    <link rel="icon" type="image/png" href="{% static 'img/favicon_16.png' %}"/>

    {% block extra_js %}
    {% endblock%}

    <title>Zak Portfolio {% block extra_title %}{% endblock%}</title>
</head>

<body class="d-flex flex-column body-min-height">
        
        <header class="container-fluid fixed-top">
    
            <!--Navbar-->
            <div class="navbar-wrapper">
                <div id="myNav" class="overlay">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <div class="overlay-content">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="{% url 'landing_page' %}">Media</a>
                        <a href="{% url 'portfolio' %}">Portfolio</a>
                        <a href="{% url 'all_posts' %}">Blog</a>
                        <a href="{% url 'contactView' %}">Contact</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h2 class="site-title"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></h2>
                </div>
                <div class="col-9">
                    <ul class="social-icons" id="navbar-social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li id="hamburger" onclick="openNav()"><i class="fas fa-bars"></i></li>
                    </ul>
                </div>          
            </div>
            
        </header>
        <!-- Navbar -->

        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    
        <!-- START Bootstrap-Cookie-Alert -->
        <div class="alert text-center cookiealert" role="alert">
            <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>

            <button type="button" class="btn btn-sm btn-custom-cookie acceptcookies">
                I agree
            </button>
        </div>
        <!-- END Bootstrap-Cookie-Alert -->

    {% block postloadjs %}
        <script src="{% static 'js/base_postload.js'%}"></script>
        <script src="{% static 'js/cookiealert.js'%}"></script>
    {% endblock%}

</body>
</html>