.landing-container {
    position: absolute;
    margin-right: 0;
    margin-left: 0;
}

.landing-row {
    height: 100%;
}

.landing-link {
    color: #fff;
    font-size: 45px;
    font-weight: 900;
}

.landing-link:hover {
    text-decoration: none;
    color: #fff;
}

.link-text {
    height: 100%;
    width: 100%;
}

.link-text-span {
    position: relative;
    top: 45%;
}


#bg-portraiture {
    background-image: url('/static/img/Portrait.jpg');

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -webkit-transition: opacity .35s ease-in-out;
}

#bg-portraiture:hover{
    opacity: 0.7;
}

#bg-landscape {
    background-image: url('/static/img/Landscape.jpg');

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -webkit-transition: opacity .35s ease-in-out;
}

#bg-landscape:hover {
    opacity: 0.7;
}

#bg-product {
    background-image: url('/static/img/Product.png');

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -webkit-transition: opacity .35s ease-in-out;
}

#bg-product:hover {
    opacity: 0.7;
}

#bg-video {
    background-image: url('/static/img/Film.png');
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -webkit-transition: opacity .35s ease-in-out;
}

#bg-video:hover {
    opacity: 0.7;
}


.custom-card-img{
    border-width: 0;
    -webkit-transition: transform .6s;
    -moz-transition: transform .6s;
    -o-transition: transform .6s;
    transition: transform .6s;
    background-color: #000;
}

.custom-card-img:hover{
    -ms-transform: scale(1.08); /* IE 9 */
    -webkit-transform: scale(1.08); /* Safari 3-8 */
    transform: scale(1.08);
    z-index: 5;
}

.list-group-item {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    background-color: #fff0;
}


.list-group-item a {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.single_image {
    cursor: pointer;
}

/* Custom Underline */
.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
    color: #fff;
    text-decoration: none;
}

.custom-underline::after {
    content: "";
    position: absolute;
}

.custom-underline-container .custom-underline::after {
    top: 75%;
    height: 2px !important;
    width: 0;
    left: 50%;
    background-color: #fff;
    transition: 0.4s ease-out all .1s;
}

.custom-underline-container:hover .custom-underline::after {
    width: 70%;
    left: 15%;
    transition: 0.5s ease all;
}

/* End of custom underline */

.description-box {
    padding-top: 5px;
}

.description-box > p {
    color: #fff;
}

#image-name {
    font-size: x-large;
}

.video-row {
    width: 100%;
}

/* The Modal (background) */
.modal-custom {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    padding-top: 35px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #000; /* Fallback color */
    background-color: #000; /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #ffffff00;
    margin: auto;
    width: 90%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; 
    z-index: 2;
    border: none;
}

.modal-image {
    max-width: 100%;
    height: auto;
}

/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 5px;
    text-shadow: none;
    opacity: 0.8;
}

.close:hover,
.close:focus {
    color: #aaaaaa;
    text-decoration: none;
    cursor: pointer;
}

/* MEDIA QUERIES */

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 2!important;
        -moz-column-count: 2!important;
        column-count: 2!important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 3!important;
        -moz-column-count: 3!important;
        column-count: 3!important;
    }
    .description-box {
        padding-top: 0;
    }
    .modal-content {
        width: 80%;
    }
    .video-row {
        width: 75%;
    }
    .single_image_row,
    .backarrow_row {
        width: 75%;
        margin-right: auto;
        margin-left: auto;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .modal-content {
        width: 60%;
    }
    .single_image_row,
    .backarrow_row {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 2560px) {
    .container_single_image,
    .container_4k {
        max-width: 1500px;
    }
    .single_image_row,
    .backarrow_row {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}