{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'media_pages/css/media_pages.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row header-container">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-fluid h-100 landing-container">
    <div class="row text-center align-items-center landing-row">
        
        <div class="col-sm-12 col-lg-3" id="bg-portraiture">
            <a class="landing-link"  href="{% url 'media_pages_portraiture' %}">
                <p class="link-text"><span class="link-text-span">Portraiture</span></p>
            </a>
        </div>
                
        <div class="col-sm-12 col-lg-3" id="bg-landscape">
            <a class="landing-link" href="{% url 'media_pages_landscape' %}">
                <p class="link-text"><span class="link-text-span">Landscape</span></p>
            </a>
        </div>

        <div class="col-sm-12 col-lg-3" id="bg-product">
            <a class="landing-link" href="{% url 'media_pages_product' %}">
                <p class="link-text"><span class="link-text-span">Product</span></p>
            </a>
        </div>
        
        <div class="col-sm-12 col-lg-3" id="bg-video">
            <a class="landing-link" href="{% url 'videos' %}">
                <p class="link-text"><span class="link-text-span">Video</span></p>
            </a>
        </div>

    </div>
</div>

{% endblock %}