{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'media_pages/css/media_pages.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row header-container">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <p class="list-group-item custom-underline-container"><a class="custom-underline" href="{% url 'media_pages_portraiture' %}">Portraiture</a></p>
            <p class="list-group-item custom-underline-container"><a class="custom-underline" href="{% url 'media_pages_landscape' %}">Landscape</a></p>
            <p class="list-group-item custom-underline-container"><a class="custom-underline" href="{% url 'media_pages_product' %}">Product</a></p>
            <p class="list-group-item custom-underline-container"><a class="custom-underline" href="{% url 'videos' %}">Video</a></p>
        </div>
    </div>


    <div class="container home-container">
        <div class="card-columns mt-2">
            {% for image in page_obj %}
                <a href="{% url 'view_single_image' image.id %}">
                    <div class="card custom-card-img">
                        <!-- For some inexplicable reason, this image needs the {{ MEDIA_URL }} source to work. It's very unhappy otherwise. -->
                        {% if image.thumbnail %}
                            <img class="w-100 card-img" src = "{{ MEDIA_URL }}{{ image.thumbnail }}" alt="{{ image.name }} - image">
                        {% else %}
                            <img class="w-100 card-img" src = "{{ MEDIA_URL }}{{ image.image }}" alt="{{ image.name }} - image">
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center pagination-row">
            <div class="pagination my-auto">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1"><i class="fas fa-angle-double-left pagination-icon mr-1"></i></a>
                        <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left pagination-icon mr-2"></i></a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right pagination-icon ml-2"></i></a>
                        <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-angle-double-right pagination-icon ml-1"></i></a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>



{% endblock %}