{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'media_pages/css/media_pages.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row header-container">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <p class="list-group-item custom-underline-container"><a class="custom-underline" href="{% url 'media_pages_portraiture' %}">Portraiture</a></p>
            <p class="list-group-item custom-underline-container"><a class="custom-underline" href="{% url 'media_pages_landscape' %}">Landscape</a></p>
            <p class="list-group-item custom-underline-container"><a class="custom-underline" href="{% url 'media_pages_product' %}">Product</a></p>
            <p class="list-group-item custom-underline-container"><a class="custom-underline" href="{% url 'videos' %}">Video</a></p>
        </div>
    </div>

    <div class="container container_4k">
        <div class="row backarrow_row">
            <div class="col-12">
                 <i class="fas fa-chevron-left float-left" id="backarrow"><span id="backtext">BACK</span></i>
            </div>
        </div>
    </div>
    
    <div class="container container_4k">        
        <div class="row single_image_row">
            <div class="col-12">
                <img class="w-100 single_image" id="myBtn" src = "{{MEDIA_URL}}{{ image.image }}" alt="{{ image.name }} - image">                
            </div>
        </row>
        <div class="row justify-content-center w-100">
            <div class="col-12 p-4 description-box text-center">
                {% if image.name %}
                    <p id="image-name">{{ image.name }}</p>
                {% endif %}
                {% if image.description %}
                    <p>{{ image.description }}</p>
                {% endif %}
                {% if image.location %}
                    <p>{{ image.location }} - {{ image.upload_date|naturalday}}</p>
                {% else %}
                    <p>Taken {{ image.upload_date|naturalday}}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="myModal" class="modal-custom">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close"><i class="fas fa-times"></i></span>
            <img class="modal-image" src = "{{MEDIA_URL}}{{ image.image }}" alt="{{ image.name }} - image">
        </div>
    </div>


    {% block postloadjs %}
        {{ block.super }}
        <script src="{% static 'media_pages/js/media_pages.js'%}"></script> 
    {% endblock%}

{% endblock %}