{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'media_pages/css/media_pages.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row header-container">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center pb-2">
            <p class="list-group-item custom-underline-container"><a class="custom-underline" href="{% url 'media_pages_portraiture' %}">Portraiture</a></p>
            <p class="list-group-item custom-underline-container"><a class="custom-underline" href="{% url 'media_pages_landscape' %}">Landscape</a></p>
            <p class="list-group-item custom-underline-container"><a class="custom-underline" href="{% url 'media_pages_product' %}">Product</a></p>
            <p class="list-group-item custom-underline-container"><a class="custom-underline" href="{% url 'videos' %}">Video</a></p>
        </div>
    </div>

    <div class="container">
        {% for video in page_obj %}
            <div class="row video-row mx-auto">
                <div class="col-12 pb-5">
                    <h2 class="text-white pb-2">{{ video.name }}</h2>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="{{video.url}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <div class="row justify-content-center pagination-row">
            <div class="pagination my-auto">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1"><i class="fas fa-angle-double-left pagination-icon mr-1"></i></a>
                        <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left pagination-icon mr-2"></i></a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right pagination-icon ml-2"></i></a>
                        <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-angle-double-right pagination-icon ml-1"></i></a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>


{% endblock %}